<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="<%= context.publicpath %>./js/setrem.js"></script>
  <link rel="stylesheet" href="<%= context.publicpath %>./css/normalize.css">
  <link rel="stylesheet" href="<%= context.publicpath %>./css/swiper.min.css">
  <script src="<%= context.publicpath %>./js/swiper.min.js"></script>
  <title>家瑜</title>
  <script>
    if ((navigator.userAgent.match(
                /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
                ))) {
            window.location.href = "/mobile";
        } else {
            // window.location.href="你的电脑版地址";  
        }
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>