img{
  max-width: 100%;
}
.slide1{
  height: 700px;
  overflow: hidden;
}
.swiper{
  width: 100%;
  height: 100%;
}
.app{
  // height: 100vh;
  //   position: relative;
  //   width: 100%;
  //   overflow: auto;
  .topbar{
    display: flex;
    position: fixed;
    right: .6rem;
    top: .32rem;
    z-index: 99;
    .youtube{
      width: .32rem;
      margin-right: .2rem;
      height: .32rem;
      cursor: pointer;
    }
    .goindex{
      height: .32rem;
      cursor: pointer;
    }
  }
  .topbar2{
    display: flex;
    position: fixed;
    right: .6rem;
    top: .32rem;
    z-index: 99;
    align-items: center;
    .fb{
      margin-right: .2rem;
      height: .32rem;
    }
    .goindex{
      height: .3rem;
    }
    .dl{
      height: .32rem;
      margin-left: .2rem;
    }
  }
  .navbar{
    position: fixed;
    right: .3rem;
    bottom: 3.3rem;
    display: flex;
    z-index: 99;
    .left{
      position: relative;
      height: 2rem;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      height: 3.4rem;
      padding: 0.08rem 0;
      color: #AB8862;
      margin-right: .1rem;
      text-align: right;
      .item{

      }
    }
    .right{
      // background: url('../images/kv/bar-bg.png') no-repeat center;
      // background-size: contain;
      position: relative;
      height: 2rem;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      height: 3.4rem;
      .barbg{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: .07rem;
        top: 50%;
        // top: .3rem;
        // bottom: .4rem;
      }
      .item{
        display: -webkit-box;
        width: .37rem;
        background: url('../images/kv/circle.png');
        background-size: contain;
        height: .37rem;
        &.active{
          background: url('../images/kv/circle-active.png');
          background-size: contain;
        }
      }
    }
  }
  .kv{
    position: relative;
    height: 9.4rem;
    .hotbox{
      position: absolute;
      bottom: 1rem;
      z-index: 9;
      left: 50%;
      transform: translateX(-50%);
      .logo{
        width: 4rem;
        margin: 0 auto;
        display: -webkit-box;
        // margin-bottom: .05rem;
      }
      .yuyue{
        width: 3.97rem;
        display: -webkit-box;
        margin: 0 auto;
        margin-bottom: .2rem;
        cursor: pointer;
      }
      .number{
        color: #AB8862;
        font-size: .26rem;
        text-align: center;
        // font-weight: bold;
        margin-bottom: .2rem;
      }
      .download{
        display: flex;
        width: 4.6rem;
        justify-content: space-between;
        .gp{
          width: 2.2rem;
          cursor: pointer;
        }
        .ios{
          width: 2.2rem;
          cursor: pointer;
        }
      }
    }
    .tips{
      position: absolute;
      bottom: 1.4rem;
      left: 13rem;
      z-index: 9;
      width: .37rem;
    }
  }
  .slide2{
    height: 9.4rem;
    position: relative;
    .numbers{
      position: absolute;
      top: 1rem;
      left: 3rem;
      color: #AB8862;
      font-weight: bold;
      font-size: .43rem;
      font-style: italic;
      .top{
        
      }
      .bottom{
        padding-left: 2rem;
        margin-top: .1rem;
      }
    }
    .process{
      position: absolute;
      width: 9.7rem;
      height: .92rem;
      top: 3.57rem;
      left: 1.95rem;
      .imgs{
        display: flex;
        width: 9.7rem;
        justify-content: space-between;
        position: absolute;
        z-index: 999;
        .item{
          width: .92rem;
          position: relative;
          z-index: 999;
        }
      }
      .bgbar{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: .4rem;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        .active{
          width: 30%;
          height: 6px;
          position: relative;
          display: flex;
          align-items: center;
          .border{
            background: red;
            background-size: 1px 100%;
            height: 2px;
            width: 100%;
          }
          &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: red;
            top: 0px;
            position: absolute;
            opacity: .5;
          }
          &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: red;
            bottom: 0px;
            position: absolute;
            opacity: .5;
          }
        }
        .jd{
          width: .33rem;
          position: absolute;
          top: 50%;
          left: 33%;
          transform: translateY(-50%);
          z-index: 99;
        }
        .gray{
          height: 6px;
          position: relative;
          display: flex;
          align-items: center;
          flex: 1;
          .border{
            background: #AB8862;
            background-size: 1px 100%;
            height: 2px;
            width: 100%;
          }
          &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #AB8862;
            top: 0px;
            position: absolute;
            opacity: .5;
          }
          &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #AB8862;
            bottom: 0px;
            position: absolute;
            opacity: .5;
          }
        }
      }
    }
    .yuyue{
      position: absolute;
      top: 6.4rem;
      left: 12.5rem;
      width: 3.97rem;
      cursor: pointer;
    }
    .gifts{
      position: absolute;
      top: 4.8rem;
      left: 1.55rem;
      display: flex;
      width: 10.45rem;
      justify-content: space-between;
      .item{
        width: 1.65rem;
        height: 3rem;
        position: relative;
        img{
          width: .82rem;
          position: absolute;
          right: -.4rem;
          bottom: .2rem;
        }
      }
    }
  }
  .slide3{
    height: 9.4rem;
    position: relative;
    .numbers{
      position: absolute;
      top: 1rem;
      left: 3rem;
      color: #AB8862;
      font-weight: bold;
      font-size: .43rem;
      font-style: italic;
      .top{
        
      }
      .bottom{
        padding-left: 2rem;
        margin-top: .1rem;
      }
    }
    .zj{
      position: absolute;
      top: 6.5rem;
      left: 3.5rem;
      width: 3.97rem;
      cursor: pointer;
    }
  }
  .slide4{
    height: 9.4rem;
    .fb{
      position: absolute;
      top: 5.5rem;
      left: 10.5rem;
      width: 4.36rem;
      cursor: pointer;
    }
  }
  .slide5{
    height: 9.4rem;
    .test{
      position: absolute;
      width: 13rem;
      left: 50%;
      top: 3rem;
      transform: translateX(-50%);
      overflow: hidden;
    }
    :global{
      .swiper-container2{
        // position: absolute;
        // width: 10rem;
        // overflow: hidden;
        .swiper-slide {
          width:7.64rem;
          height:4.84rem;
          img{
              width: 100%;
          }
          // background: #fff;
          // box-shadow: 0 8px 30px #ddd
        }
      }
      .item{

      }
      .swiper-pagination{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-bullet{
          margin-right: 5px;
          background: transparent;
          border: 2px solid #8e8374;
          &.swiper-pagination-bullet-active{
            background: #8e8374;
          }
        }
      }
    }
  }
  .slide6{
    height: 2.4rem;
    .copyright{
      display: flex;
      background: #27282c;
      color: #fff;
      justify-content: center;
      height: 2.4rem;
      align-items: center;
      .logo{
          width: 1.6rem;
          height: auto;
          // margin-right: 80px;
      }
      .name{
          margin-right: .7rem;
      }
      .hr{
          height: 1rem;
          width: 1px;
          background: #635e50;
          margin: 0 .3rem;
      }
      .info{
          .linklist{
              margin-bottom: .1rem;
              .item{
                  color: #b3b1ac;
                  font-size: .16rem;
                  // border-right: 1px solid #b3b1ac;
                  padding: 0 .1rem 0 0;
                  position: relative;
                  margin-left: .1rem;
                  &:nth-child(1){
                      margin: 0;
                  }
                  &:nth-last-child(1){
                      &::after{
                          display: none;
                      }
                  }
                  &::after{
                      content: '';
                      display: block;
                      position: absolute;
                      width: 1px;
                      height: 12px;
                      background: #b3b1ac;
                      right: 0;
                      top: 50%;
                      transform: translateY(-50%);
                  }
              }
          }
          .tip{
              color: #8e8374;
              margin-bottom: .1rem;
              a{
                  color: #8e8374;
              }
          }
      }
  }
  }
}

.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  .mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .container{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    top: 50%;
    padding: .4rem;
    padding-top: 1rem;
    border-radius: .25rem;
    width: 8rem;
    .close{
      width: .38rem;
      position: absolute;
      right: .4rem;
      top: .4rem;
      cursor: pointer;
    }
    .formlist{
      width: 6rem;
      margin: 0 auto;
      .item{
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        color: #8e8374;
        select{
          border: 1px solid #8e8374;
          height: .8rem;
          border-radius: 1rem 0 0 1rem;
          border-right: none;
          width: 2rem;
          text-align: center;
          color: #8e8374;
          padding: 0 .2rem;
          option{
            text-align: center;
          color: #8e8374;
            height: .8rem;
            // border-radius: 1rem 0 0 1rem;
            // border-right: none;
            width: 2rem;
          }
        }
        .phone{
          border: 1px solid #8e8374;
          height: .8rem;
          border-radius: 0 1rem 1rem 0;
          flex: 1;
          text-align: center;
        }
        .num{
          border: 1px solid #8e8374;
          height: .8rem;
          border-radius: 100px;
          flex: 1;
          text-align: center;
        }
        .code{
          width: 2.4rem;
          background: #8e8374;
          color: #fff;
          line-height: .8rem;
          text-align: center;
          border-radius: 100px;
          margin-left: .2rem;
        }
      }
    }
    .submit{
      width: 3.5rem;
      margin: 0 auto;
      display: -webkit-box;
    }
  }
}